@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.card img{
  width: 100%;
  border-radius: 50%;
}

.html, body {
  padding-top: 70px;
  margin: 0;
  min-height: 100vh;
  background-color: white;
  background-attachment: fixed; /* makes gradient stay in place on scroll */
  font-family: "Lucida Console", sans-serif;
}

@keyframes borderGlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}